<h1>User Listing</h1>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Join Date</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.created_at %></td>
        <td><%= user.role.humanize %></td>
      <% if user.deactivated? %>
        <td> Inactive</td>
        <td> <%= link_to "Activate", deactivate_index_path(id: user.id), method: :post, data: {confirm: "Are you sure you want to Activate this user?"} %> </td>
      <% else %>
        <td> Active</td>
        <td><%= link_to "Deactivate", deactivate_index_path(id: user.id), method: :post, data: {confirm: "Are you sure you want to change this user to Inactive?"} %></td>
      <% end %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
  <% end %>
  <%= button_to "Export to CSV", "/users.csv", :method => :get %>
</table>
